:root {
    /* Light mode */
    --ep-light-switch-shadow: #373d4e;
    --ep-light-switch-icon: "🌚";
    --ep-light-switch-text: "lights off?";
    --ep-light-text: #212529;
    --ep-light-secondary-text: #6c757d;
    --ep-light-muted-text: #000000;
    --ep-light-bg: #f7f7f7;
    --ep-light-secondary-bg: #fff;
    --ep-light-theme: #3b99e0;
    --ep-light-bar: #ffffff;
    --ep-light-highlight: #0d6efd;

    /* Dark mode */
    --ep-dark-switch-shadow: #e94560;
    --ep-dark-switch-icon: "🌝";
    --ep-dark-switch-text: "lights on?";
    --ep-dark-text: #dedad6;
    --ep-dark-secondary-text: #487dc4;
    --ep-dark-muted-text: #ffffff;
    --ep-dark-bg: #1A1A2E;
    --ep-dark-secondary-bg: #16213E;
    --ep-dark-theme: #E94560;
    --ep-dark-bar: #16213E;
    --ep-dark-highlight: #E94560;



    /* Default mode */
    --ep-switch-shadow-color: var(--ep-dark-switch-shadow);
    --ep-switch-icon: var(--ep-dark-switch-icon);
    --ep-switch-text: var(--ep-dark-switch-text);
    --ep-text-color: var(--ep-dark-text);
    --ep-secondary-text-color: var(--ep-dark-secondary-text);
    --ep-muted-text-color: var(--ep-dark-muted-text);
    --ep-bg-color: var(--ep-dark-bg);
    --ep-secondary-bg-color: var(--ep-dark-secondary-bg);
    --ep-theme-color: var(--ep-dark-theme);
    --ep-bar-color: var(--ep-dark-bar);
    --ep-highlight-color: var(--ep-dark-highlight);

    /*EP Settings*/
    --ep-delay: 0;
}

@font-face {
    font-family: Libertine;
    src: url(../fonts/LinLibertine.ttf);
}

/* Switched mode */
.theme-switch:checked ~ #page {
    --ep-switch-shadow-color: var(--ep-light-switch-shadow);
    --ep-switch-icon: var(--ep-light-switch-icon);
    --ep-switch-text: var(--ep-light-switch-text);
    --ep-text-color: var(--ep-light-text);
    --ep-secondary-text-color: var(--ep-light-secondary-text);
    --ep-muted-text-color: var(--ep-light-muted-text);
    --ep-bg-color: var(--ep-light-bg);
    --ep-secondary-bg-color: var(--ep-light-secondary-bg);
    --ep-theme-color: var(--ep-light-theme);
    --ep-bar-color: var(--ep-light-bar);
    --ep-highlight-color: var(--ep-light-highlight);

    /*EP Settings*/
    --ep-delay: 0;
}

/* Theme switcher */
.theme-switch { /* Hides the checkbox */
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.switch-label {
    cursor: pointer;
    display: flex;
}

.switch-label::before {
    content: var(--ep-switch-icon);
    font-size: 40px;
    transition: text-shadow 0.3s;
}

.switch-label::after {
    align-self: center;
    content: var(--ep-switch-text);
    color: var(--ep-switch-shadow-color);
    font-size: clamp(min(2vw, 32px), 28px, 4.5vw);
    line-height: 40px;
    opacity: 0;
    padding-left: 15px;
    transition: opacity 0.3s;
}

.theme-switch:focus ~ #page .switch-label::before,
.switch-label:hover::before {
    text-shadow: 0 0 15px var(--ep-switch-shadow-color);
}

.theme-switch:focus ~ #page .switch-label::after,
.switch-label:hover::after {
    opacity: 1;
}

#page {
    background: var(--ep-bg-color);
    color: var(--ep-text-color);
    min-height: 100%;
    transition: color .4s, background-color .4s;
}
